# gradle
.gradle/
build/
out/
classes/

# eclipse
*.launch
.settings/
.metadata/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders

# idea
.idea/
*.iws
*.iml
*.ipr
out/

# vscode
.vscode/

# macos
.DS_Store

# fabric
run/
logs/

# other
*.log
*.jar
!gradle/wrapper/gradle-wrapper.jar
